.cabecera, .contenido {
    width: 70%;
}

.img-fluid {
    max-width: 140px;
}

.imagen {
    float: left;
}

.texto {
    position: relative;
    padding-left: 160px;
    margin-bottom: 3%;
    min-height: 150px;
    width: 100%;
}

.h6 {
    padding-top: 1%;
    font-weight: 300;
}

.boton-editar {
    position: relative;
    float: right;
    z-index: 99;
}