.bootdey {
    width: 70%;
}
.col-md-6 {
    background-color: white;
    margin: 1% auto;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.26);   
    border-radius: 0 10px 10px 0;
    width: 280px;
    padding-left: 0;
}

.red {
    color: #c74332;
}

.titulo-etiqueta{
    height: 30%;
    width: 100%;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 0.7em;
    padding-left: 0;
}

.numero {
    text-align: center;
    height: 70%;
    width: 100%;
    font-weight: bold; 
    font-style: normal; 
    font-variant: normal; 
    font-stretch: normal; 
    font-size: 3em; 
    line-height: normal; 
    text-align: center; 
    padding: 3%; 
    -webkit-appearance: none; 
    background: none;
    vertical-align: middle;
}

.lateral {
    float: left;
    background-color: #c74332;
    width: 10px;
    height: 100%;
    margin: 0;
}

.divisor {
    background-color: #c74332;
    width: 100%;
    height: 2.5em;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.6em;
    color: white;
    font-weight: 700;
}