.bio-chart, .bio-desk {
    float: left;
}

.bio-chart {
    width: 46%;
}

.bio-desk {
    width: 54%;
}

.bio-desk h4 {
    font-size: 1.5em;
    font-weight:400;
    text-align: center;
    padding-top: 0.2em;
    padding-left: 0;
}

.bio-desk p {
    margin:0;
}

.col-md-6 {
    background-color: white;
    width: 350px;
    margin: 1% auto;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.26) ;   
}

.knob {
    width: 130px; 
    height: 40px; 
    position: relative;
    bottom: 57px; 
    border: 0px; 
    font-weight: bold; 
    font-style: normal; 
    font-variant: normal; 
    font-stretch: normal; 
    font-size: 36px; 
    line-height: normal; 
    text-align: center; 
    padding: 0px; 
    -webkit-appearance: none; 
    background: none;
}

.bio-desk h4.terques {
    color: #4CC5CD;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}

.terques {
    color: #4CC5CD;
}

.red {
    color: #e26b7f;
}

.green {
    color: #97be4b;
}

.purple {
    color: #caa3da;
}

.titulo h1 {
    text-align: center;
}