.accordion {
    width: 70%;
    --bs-accordion-active-color: #c74332;
}

.accordion-button {
    background-color: #c74332;
    min-width: 100%;
    min-height: 2.5em;
    text-align: left;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
}

.accordion-button:not(.collapse) {
    background-color: #c74332;
    color: white;
}

.accordion-button:focus {
    border-color: white;
}

.list-group-item {
    font-size: 1.1em;
    padding-left: 2.6em;
}

.pdf {
    background-image: url('../img/pdf.png');
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 24px 24px;
}

.word {
    background-image: url('../img/doc.png');
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 24px 24px;
}

.pptx {
    background-image: url('../img/pptx.png');
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 24px 24px;
}

