{% extends "sistema/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/inicio.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/estilo-perfil.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/estilo-detalle.css' %}">

<section class="centro">

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Puntaje total: {{user.puntaje_total_anual}}</h5>
              <p class="card-text">Toques: {{user.puntaje_toques_anual}}<br>
              Asistencias: {{user.puntaje_asistencias_anual}}<br>
              Guardias: {{user.puntaje_guardias_anual}}<br>
              O. Interno: {{user.puntaje_oi_anual}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

</section>

<section class="barra-toques">
    <div class="divisor shadow rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#toques" aria-expanded="true">Toques de sirena</div>
            <table class="table table-striped collapse" id="toques">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                </tr>
                </thead>
                <tbody>
                    {% for toque in toques %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{toque}}</td>
                        <td>{{toque.t_toque|date}}</td>
                        <td>{{toque.get_tipo_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
 
</section>

{% endblock %}