{% extends "sistema/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/inicio.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/estilo-perfil.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/estilo-detalle.css' %}">

ACA TENGO QUE MOSTRAR INFO CON SELECCIONABLE POR MES Y AÑO

<section class="barra-toques">
    <div class="divisor shadow rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#toques" aria-expanded="true">Toques de sirena</div>
            <table class="table table-striped collapse" id="toques">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                </tr>
                </thead>
                <tbody>
                    {% for toque in toques %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{toque}}</td>
                        <td>{{toque.t_toque|date}}</td>
                        <td>{{toque.get_tipo_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
 
</section>

{% endblock %}