{% extends "sistema/base.html" %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href='static/usuarios/css/inicio.css'>
<div class="titulo">
    <h1>
        {% if user.is_authenticated %}
            {% if user.sexo == 'M' %}¡Bienvenido {{user.nombre}}!
            {% elif user.sexo == 'F' %}¡Bienvenida {{user.nombre}}!
            {% elif user.sexo == 'O' %}¡Bienvenide {{user.nombre}}!
            {% else %}
            ¡Bienvenido {{user.nombre}}!
            {% endif %}
        {% endif %}
    </h1>
</div>    
<div class="container bootstrap snippets bootdey">
          <div class="row">
              <div class="col-md-6">
                  <div class="panel">
                      <div class="panel-body">
                          <div class="bio-chart">
                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value={{user.puntaje_total_anual}} data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8"></div>
                          </div>
                          <div class="bio-desk">
                              <h4 class="red">Puntaje Total</h4>
                              <p>Servicios: {{user.puntaje_toques_anual}}</p>
                              <p>Guardia: {{user.puntaje_guardias_anual}}</p>
                              <p>O. Interno: {{user.puntaje_oi_anual}}</p>
                              <p>Asistencias: {{user.puntaje_asistencias_anual}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel">
                      <div class="panel-body">
                          <div class="bio-chart">
                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value={{user.porcentaje_toques_anual}} data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" ></div>
                          </div>
                          <div class="bio-desk">
                              <h4 class="red">Anual Servicios</h4>
                              <p>Asistidos: {{user.servicios_con_toque_anual}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel">
                      <div class="panel-body">
                          <div class="bio-chart">
                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value={{user.porcentaje_asistencia_anual}} data-fgcolor="#cba4db" data-bgcolor="#e8e8e8"></div>
                          </div>
                          <div class="bio-desk">
                              <h4 class="red">&#37; Anual Asistencia</h4>
                              <p>Cuartel:</p>
                              <p>Capacitación:</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bio-chart">
                            <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8"></div>
                        </div>
                        <div class="bio-desk">
                            <h4 class="red">Puntaje Mensual</h4>
                            <p>Servicios: </p>
                            <p>Guardia: </p>
                            <p>O. Interno: </p>
                            <p>Asistencias: </p>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bio-chart">
                            <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8"></div>
                        </div>
                        <div class="bio-desk">
                            <h4 class="red">&#37; Mensual Servicios</h4>
                            <p>Total de Servicios:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bio-chart">
                            <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" ></div>
                        </div>
                        <div class="bio-desk">
                            <h4 class="red">&#37; Mensual Asistencia</h4>
                            <p>Cuartel:</p>
                            <p>Capacitación:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bio-chart">
                            <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="100" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" ></div>
                        </div>
                        <div class="bio-desk">
                            <h4 class="red">Licencia Tomada</h4>
                            <p>Anual:</p>
                            <p>Enfermedad:</p>
                            <p>Estudio:</p>
                            <p>Otro:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bio-chart">
                            <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob red" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8"></div>
                        </div>
                        <div class="bio-desk">
                            <h4 class="red">Sanciones</h4>
                            <p>Cantidad dias:</p>
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
</div>

{% endblock %}