{% extends "sistema/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/inicio.css' %}">
<div class="titulo">
    <h1>
        {% if user.is_authenticated %}
            {% if user.sexo == 'M' %}¡Bienvenido {{user.nombre}}!
            {% elif user.sexo == 'F' %}¡Bienvenida {{user.nombre}}!
            {% elif user.sexo == 'O' %}¡Bienvenide {{user.nombre}}!
            {% else %}
            ¡Bienvenido {{user.nombre}}!
            {% endif %}
        {% endif %}
    </h1>
</div>    
<div class="container bootstrap snippets bootdey">
        <div class="divisor shadow rounded">Estad&iacutesticas anuales</div>
          <div class="row">
                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> PUNTAJE TOTAL
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; TOQUES
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>
                
                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; ASISTENCIAS
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> LICENCIAS
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> SANCIONES
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>
                
        <div class="divisor shadow rounded">Estad&iacutesticas mensuales</div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                    <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> PUNTAJE MENSUAL
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; TOQUES MENSUAL
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>

                <div class="col-md-6">
                    <div class="lateral"></div>
                    <div class="titulo-etiqueta">
                       <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; ASISTENCIAS MENSUAL
                    </div> 
                    <div class="numero red">
                        {{user.puntaje_total_anual}}
                    </div> 
                </div>
            
          </div>
</div>

{% endblock %}