{% extends "sistema/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/inicio.css' %}">

<div class="titulo">
    <h1>
        {% if user.is_authenticated %}
            {% if user.sexo == 'M' %}¡Bienvenido {{user.nombre}}!
            {% elif user.sexo == 'F' %}¡Bienvenida {{user.nombre}}!
            {% elif user.sexo == 'O' %}¡Bienvenide {{user.nombre}}!
            {% else %}
            ¡Bienvenido {{user.nombre}}!
            {% endif %}
        {% endif %}
    </h1>
</div>    
<div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="divisor shadow rounded">Estad&iacutesticas anuales</div>

            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> PUNTAJE
                            </div> 
                            <div class="numero red">
                                {{user.puntaje_total_anual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>Toques: {{user.puntaje_toques_anual}} pts</p>
                                    <p>Asistencias: {{user.puntaje_asistencias_anual}} pts</p>
                                    <p>Guardias: {{user.puntaje_guardias_anual}} pts</p>
                                    <p>O. Interno: {{user.puntaje_oi_anual}} pts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; TOQUES
                            </div> 
                            <div class="numero red">
                                {{user.porcentaje_toques_anual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>{{user.servicios_con_toque_anual}} servicios asistidos<br>de un total de {{servicios_con_toque_totales}}.<br>Contabilizados {{toq_anual}} durante tu licencia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; ASISTENCIAS
                            </div> 
                            <div class="numero red">
                                {{user.porcentaje_asistencias_anual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>Total asistencias: {{mis_asistencias.0}}/{{asistencias.0}}</p>
                                    <p>Asistencias: {{mis_asistencias.1}}/{{asistencias.1}}</p>
                                    <p>Capacitaciones: {{mis_asistencias.2}}/{{asistencias.2}}</p>
                                    <p>Ceremonias: {{mis_asistencias.3}}/{{asistencias.3}}</p>
                                    <p>Otros: {{mis_asistencias.4}}/{{asistencias.4}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-md-6 adicion post">
                <div class="lateral"></div>
                <div class="titulo-etiqueta">
                    <img src="{% static 'usuarios/img/plane.png' %}" width="25px"> DIAS LICENCIA
                </div> 
                <div class="numero red">
                    {{user.cant_licencias}}
                </div> 
            </div>

            <div class="col-md-6 adicion post">
                <div class="lateral"></div>
                <div class="titulo-etiqueta">
                    <img src="{% static 'usuarios/img/prohibicion.png' %}" width="25px"> SANCIONES
                </div> 
                <div class="numero red">
                    {{user.cant_sanciones}}
                </div> 
            </div>
                
            <div class="divisor shadow rounded">Estad&iacutesticas mensuales</div>
            
            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> PUNTAJE
                            </div> 
                            <div class="numero red">
                                {{user.puntaje_total_mensual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>Toques: {{user.puntaje_toques_mensual}} pts</p>
                                    <p>Asistencias: {{user.puntaje_asistencias_mensual}} pts</p>
                                    <p>Guardias: {{user.puntaje_guardias_mensual}} pts</p>
                                    <p>O. Interno: {{user.puntaje_oi_mensual}} pts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; TOQUES
                            </div> 
                            <div class="numero red">
                                {{user.porcentaje_toques_mensual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>{{user.servicios_con_toque_mensual}} servicios asistidos<br>de un total de {{servicios_con_toque_mensual}}.<br>Contabilizados {{toq_mensual}} durante tu licencia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-md-6 adicion">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front post">
                            <div class="lateral"></div>
                            <div class="titulo-etiqueta">
                                <img src="{% static 'usuarios/img/grafico-histograma.png' %}" width="25px"> &#37; ASISTENCIAS
                            </div> 
                            <div class="numero red">
                                {{user.porcentaje_asistencias_mensual}}
                            </div> 
                        </div>
                        <div class="flip-card-back post">
                            <div class="lateral lateral-2"></div>
                            <div class="detalle">
                                <div>
                                    <p>Total asistencias: {{mis_asistencias_mensual.0}}/{{asistencias_mensual.0}}</p>
                                    <p>Asistencias: {{mis_asistencias_mensual.1}}/{{asistencias_mensual.1}}</p>
                                    <p>Capacitaciones: {{mis_asistencias_mensual.2}}/{{asistencias_mensual.2}}</p>
                                    <p>Ceremonias: {{mis_asistencias_mensual.3}}/{{asistencias_mensual.3}}</p>
                                    <p>Otros: {{mis_asistencias_mensual.4}}/{{asistencias_mensual.4}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            
        </div>
</div>


{% endblock %}