{% extends "sistema/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'usuarios/css/inicio.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/estilo-perfil.css' %}">

<section class="cabecera">
    <div class="imagen">
        <img class="img-fluid rounded" src="{{user.foto_perfil.url}}" alt="foto de perfil">
    </div>
    <button class="btn btn-primary btn-lg boton-editar" type="button" onclick="location.href='/editar-perfil'">Editar</button>
    <div class="texto">
        <h3 class="display-4">{{user.nombre}} {{user.apellido}}</h3>
        <p class="h6">{{user.get_jerarquia_display}}</p>
        <p class="h6">Matricula: {{user.matricula}}</p>
    </div>
    
<hr>
</section>
<section class="contenido">
    <div class="divisor shadow rounded">Datos personales</div>


</section>


{% endblock %}