{% extends "sistema/base.html" %}

{% block content %}
<div class="bio-graph-heading">
    Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
</div>
<div class="panel-body bio-graph-info">
    <h1>Bio Graph</h1>
    <div class="row">
        <div class="bio-row">
            <p><span>First Name </span>: Camila</p>
        </div>
        <div class="bio-row">
            <p><span>Last Name </span>: Smith</p>
        </div>
        <div class="bio-row">
            <p><span>Country </span>: Australia</p>
        </div>
        <div class="bio-row">
            <p><span>Birthday</span>: 13 July 1983</p>
        </div>
        <div class="bio-row">
            <p><span>Occupation </span>: UI Designer</p>
        </div>
        <div class="bio-row">
            <p><span>Email </span>: jsmith@flatlab.com</p>
        </div>
        <div class="bio-row">
            <p><span>Mobile </span>: (12) 03 4567890</p>
        </div>
        <div class="bio-row">
            <p><span>Phone </span>: 88 (02) 123456</p>
        </div>
    </div>
</div>
{% endblock %}